.form {
  background-color: #3a3d76;
  border-radius: 20px;
  padding: 24px 28px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
