.page {
  min-height: 100vh;
  background-color: #272a57;
}

.contentWrapper {
  display: flex;
  gap: 32px;
  padding: 28px 38px;
  align-items: flex-start;
}

.content {
  flex: 1;
  min-height: calc(100vh - 68px - 56px);
}
