.textarea {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  border-radius: 16px;
  padding: 18px 20px;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--bg-input-solid);
  color: var(--text-on-input);
}

.textarea::placeholder {
  color: var(--text-placeholder);
}
